@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap&subset=cyrillic');

/*Global Styles*/
h1 {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 140%;
    letter-spacing: -0.02em;

    color: #000000;
}
nav{
  box-shadow: 0 0 2px rgba(0,0,0,.35);
}
h2 {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 140.62%;
    letter-spacing: -0.004em;

    color: #000000;
}

h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 140%;
}

p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;

    color: #000000;
}

.btn {
    width: 132px;
    height: 40px;
    background: linear-gradient(180deg, #3A62AB 0%, #6E96DF 100%);
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
}

.btn:hover {
    background: linear-gradient(180deg, #2d5db4 0%, #6E96DF 100%);
    color: #f4f4f4;
}

a {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;

    color: #799DE0;
}

a:hover {
    text-decoration: none;
    color: #4378db;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}


/*Header styles*/
.navbar-brand {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3A62AB;
    text-transform: uppercase;
}

.navbar-light .navbar-brand {
    color: #3A62AB;
}


/*Main*/
.bot_link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 6px;

    color: #777;
}

.cart {
    position: relative;
    background: #FFFFFF;
    max-width: 760px;
    min-height: 228px;
    height: auto;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;
}

.cart .img_wrap {
    position: absolute;
    top: 30px;
    left: 18px;
    width: 100px;
    height: 100px;
    background: #EBEEF3;
}

/*.cart img {
    padding-top: 40px;
    margin-left: 10px;
}*/

.cart h2 {
    position: absolute;
    top: 16px;
    left: 145px;
}

.cart p {
    position: absolute;
    left: 144px;
    top: 106px;

    padding: 0 14px 14px 0;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.01em;

    color: #777777;
}

.cart_info {
    position: absolute;
    left: 144px;
    top: 64px;

    font-family: Roboto;
    font-size: 14px;

    color: #777777;
}

.cart_teacher::before {
    content: url(img/edu.svg);
    padding-right: 6px;
}

.cart_time::before {
    content: url(img/clock.svg);
    padding-right: 6px;
}

.cart_info ul li {
    display: inline;
    padding-right: 28px;
}


/*Filters styles*/
.filters {
    max-width: 460px;
    background: #F5FCFA;
}

.filters form {
    margin: 20px;
}

.filters label {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;

    color: #000000;
}

.filters p {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 6px;

    color: #000000;
}

.filters .btn-glass {
    background: #fff;
    color: #000;
}


/*Cart Detail styles*/
.cart_info_detail {
    margin-top: 10px;
}

.cart_info_detail ul li {
    display: inline;
    margin-right: 20px;
}

.cart_info_detail ul {
    padding-inline-start: 0px;
}

.btn-reg {
    width: 180px;
}

.cart_detail {
    width: 760px;
}

.detail_content {
    margin-top: 26px;

    font-family: Roboto;
    font-size: 16px;
    line-height: 21%;

    color: #888;
}

datail_statistics p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;

}

.imwrap{
  width: 200px;
  height: 200px;
}
