<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="/static/style.css">
    <title>Курс {{ title }}</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand logo" href="#">&lt;Edustation&gt; </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item mr-2">
                  <a class="nav-link" href="/">Поиск курса</a>
              </li>
              <li class="nav-item mr-2">
                  <a class="nav-link" href="/chatbot">Edustation bot</a>
              </li>

              <!-- <li class="nav-item mr-2">
                  <a class="nav-link" href="#">Разместить свой курс</a>
              </li> -->
              
          </ul>
      </div>
  </nav>


    <main>

        <div class="container mt-5 pt-5 cart_detail">
            <h1>
                {{title}}
            </h1>

            <div class="cart_info_detail">
                <ul>
                    <li class="cart_teacher">{{school}}</li>
                    <li class="cart_time">{{duration}} месяцев</li>
                    <li>{{type}}</li>
                    <li>{{price}} руб</li>
                </ul>
            </div>


            <button type="submit" class="btn btn-reg mb-2">Записаться на обучение</button>
            <div class="datail_statistics mt-4">

                <div class="row">
                    <div class="col-6">
                        <h3>{{rate_auditors}} / 10</h3>
                        <p>Оценка курса от аудитора</p>
                    </div>

                    <div class="col-6">
                        <h3>{{rate_students}} / 10</h3>
                        <p>Оценка курса студентами</p>
                    </div>
                </div>

            </div>
            <div class="detail_content">
                <p>
                    {{description}}
            </div>

        </div>




    </main>
</body></html>
