<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="messenger.css">
    <title>Edustation Bot</title>
</head>

<body>
    <div class="container edustation_bot mt-5">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h1>Edustation bot</h1>
                <img src="img/bot_0.svg" alt="">
            </div>

            <div class="col-md-8 col-sm-12">
                <div class="container">
                    <div class="messaging">
                        <div class="inbox_msg">
                            <div class="mesgs">
                                <div class="msg_history">
                                    <div class="incoming_msg">
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>Привет, я Бот</p>
                                                <span class="time_date"> 11:01 AM | June 9</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="outgoing_msg">
                                        <div class="sent_msg">
                                            <p> Что ты умеешь бот?</p>
                                            <span class="time_date"> 11:01 AM | June 9</span>
                                        </div>
                                    </div>
                                    <div class="incoming_msg">
                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>Test</p>
                                                <span class="time_date"> 11:01 AM | Yesterday</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="outgoing_msg">
                                        <div class="sent_msg">
                                            <p>Я не знаю</p>
                                            <span class="time_date"> 11:01 AM | Today</span>
                                        </div>
                                    </div>
                                    <div class="incoming_msg">

                                        <div class="received_msg">
                                            <div class="received_withd_msg">
                                                <p>Я не понимаю тебя</p>
                                                <span class="time_date"> 11:01 AM | Today</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="type_msg">
                                    <div class="input_msg_write">
                                        <input type="text" class="write_msg" placeholder="Введите ваше сообщение" />
                                        <button class="msg_send_btn" type="button"> Отправить</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="variable">
                            <button class="msg_variable_btn" type="button"> Старт</button>

                            <button class="msg_variable_btn" type="button"> Привет</button>

                            <button class="msg_variable_btn" type="button"> Здравствуй</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body></html>