<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/messenger.css">
    <script src="/static/chat.js"></script>
    <title>Edustation Bot</title>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand logo" href="/">&lt;Edustation&gt; </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item mr-2">
                  <a class="nav-link" href="/">Поиск курса</a>
              </li>
              <li class="nav-item mr-2">
                  <a class="nav-link" href="/chatbot">Edustation bot</a>
              </li>
              <!-- <li class="nav-item mr-2">
                  <a class="nav-link" href="#">Разместить свой курс</a>
              </li> -->
          </ul>
      </div>
  </nav>

    <div class="container edustation_bot mt-5 pt-5">
        <div class="row">
            <div class="col-md-4 col-sm-12">
                <h1>Edustation bot</h1>
                <div class = "imwrap">
                <img id = "robot" src="/static/Bot 1.svg" alt="">
              </div>
            </div>

            <div class="col-md-8 col-sm-12">
                <div class="container">
                    <div class="messaging">
                        <div class="inbox_msg">
                            <div class="mesgs">
                                <div class="msg_history">

                                </div>
                                <div class="type_msg">
                                    <div class="input_msg_write">
                                        <input type="text" class="write_msg" id = "writer" placeholder="Введите ваше сообщение" />
                                        <button class="msg_send_btn" id = "sender" type="button"> Отправить</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="variable">

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</body></html>
