<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="static/form.js"></script>

    <link rel="stylesheet" href="static/style.css">
    <title>Edustation</title>
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
      <a class="navbar-brand logo" href="/">&lt;Edustation&gt; </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item mr-2">
                  <a class="nav-link" href="/">Поиск курса</a>
              </li>
              <li class="nav-item mr-2">
                  <a class="nav-link" href="/chatbot">Edustation bot</a>
              </li>
              <!-- <li class="nav-item mr-2">
                  <a class="nav-link" href="#">Разместить свой курс</a>
              </li> -->
          </ul>
      </div>
  </nav>
    <main>
        <div class="container mt-5 pt-4">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <h2>Заполните форму регистрации</h2>
                    <form>
                        <div class="form-group">
                            <label for="exampleFormControlInput1">Ваше имя</label>
                            <input type="text" class="form-control" id="name" placeholder="Имя">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Ваш Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Ваш Email">
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Ваш Номер</label>
                            <input type="number" class="form-control" id="number" placeholder="Ваш Номер">
                        </div>

                        <button class="btn btn-reg mb-2" id = "reg">Зарегистрироваться</button>

                    </form>
                </div>
            </div>
        </div>
    </main>
</body></html>
